<?xml version='1.0' encoding='utf-8'?>
<Server className="org.apache.catalina.core.StandardServer" debug="0" port="8005" shutdown="SHUTDOWN">

<!--
  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" debug="0" jsr77Names="false"/>
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" debug="0"/>
-->

  <GlobalNamingResources>
    <Environment name="simpleValue" override="true" type="java.lang.Integer" value="30"/>
    <Resource auth="Container" description="User database that can be updated and saved" name="UserDatabase" scope="Shareable" type="org.apache.catalina.UserDatabase"/>
    <ResourceParams name="UserDatabase">
      <parameter>
        <name>factory</name>
        <value>org.apache.catalina.users.MemoryUserDatabaseFactory</value>
      </parameter>
      <parameter>
        <name>pathname</name>
        <value>conf/tomcat-users.xml</value>
      </parameter>
    </ResourceParams>
  </GlobalNamingResources>

  <Service className="org.apache.catalina.core.StandardService" debug="0" name="Tomcat-Standalone">

<!--
    <Connector className="org.apache.coyote.tomcat4.CoyoteConnector" acceptCount="100" bufferSize="2048" compression="off" connectionLinger="-1" connectionTimeout="20000" connectionUploadTimeout="300000" debug="0" disableUploadTimeout="true" enableLookups="true" maxKeepAliveRequests="100" maxProcessors="75" minProcessors="5" port="8080" protocolHandlerClassName="org.apache.coyote.http11.Http11Protocol" proxyPort="0" redirectPort="8443" scheme="http" secure="false" serverSocketTimeout="0" tcpNoDelay="true" tomcatAuthentication="true" useBodyEncodingForURI="true" useURIValidationHack="false">

      <Factory className="org.apache.catalina.net.DefaultServerSocketFactory"/>
    </Connector>
-->
    <Connector className="org.apache.coyote.tomcat4.CoyoteConnector" acceptCount="10" bufferSize="2048" compression="off" connectionLinger="-1" connectionTimeout="0" connectionUploadTimeout="300000" debug="0" disableUploadTimeout="false" enableLookups="true" maxKeepAliveRequests="100" maxProcessors="75" minProcessors="5" port="8009" protocolHandlerClassName="org.apache.jk.server.JkCoyoteHandler" proxyPort="0" redirectPort="8443" scheme="http" secure="false" serverSocketTimeout="0" tcpNoDelay="true" tomcatAuthentication="true" useBodyEncodingForURI="true" useURIValidationHack="false">
      <Factory className="org.apache.catalina.net.DefaultServerSocketFactory"/>
    </Connector>
    <Engine className="org.apache.catalina.core.StandardEngine" debug="0" defaultHost="localhost" mapperClass="org.apache.catalina.core.StandardEngineMapper" name="Standalone">

      <Host className="org.apache.catalina.core.StandardHost" appBase="webapps" autoDeploy="false" configClass="org.apache.catalina.startup.ContextConfig" contextClass="org.apache.catalina.core.StandardContext" debug="0" deployXML="true" errorReportValveClass="org.apache.catalina.valves.ErrorReportValve" liveDeploy="true" mapperClass="org.apache.catalina.core.StandardHostMapper" name="sente.ez-mails.co.uk" unpackWARs="true">


      <Context crossContext="true" debug="0" docBase="/opt/tomcat/server/webapps/sente" path="" reloadable="false" >

          <Parameter name="email.root.directory" override="false" value="/opt/sente/emails/"/>
          <Parameter name="smtp.host"            override="false" value="smtp.worthsolution.co.uk"/>
          <Parameter name="base.url"             override="false" value="sente.ez-mails.co.uk" />
          <Parameter name="view.email.base.url"  override="false" value="emails.ez-mails.co.uk" />
          <Parameter name="reply.to"             override="false" value="mail@ez-mails.co.uk" />

          <Resource auth="Container" name="jdbc/sente" type="javax.sql.DataSource"/>
          <ResourceParams name="jdbc/sente">
            <parameter>
              <name>username</name>
              <value>admin</value>
            </parameter>
            <parameter>
              <name>password</name>
              <value>rqQ952qM</value>
            </parameter>
            <parameter>
              <name>url</name>
              <value>jdbc:mysql://localhost/sente</value>
            </parameter>
            <parameter>
              <name>maxActive</name>
              <value>4</value>
            </parameter>
            <parameter>
              <name>maxWait</name>
              <value>5000</value>
            </parameter>
            <parameter>
              <name>driverClassName</name>
              <value>com.mysql.jdbc.Driver</value>
            </parameter>
            <parameter>
              <name>maxIdle</name>
              <value>2</value>
            </parameter>
          </ResourceParams>
        </Context>

        <Context path="/viewemail" docBase="/opt/sente/emails/" crossContext="true" debug="0">
        </Context>


        <Logger className="org.apache.catalina.logger.FileLogger" debug="0" directory="logs" prefix="localhost_sente_log." suffix=".txt" timestamp="true" verbosity="1"/>
      </Host>

      <Host className="org.apache.catalina.core.StandardHost" appBase="webapps" autoDeploy="false" configClass="org.apache.catalina.startup.ContextConfig" contextClass="org.apache.catalina.core.StandardContext" debug="0" deployXML="true" errorReportValveClass="org.apache.catalina.valves.ErrorReportValve" liveDeploy="true" mapperClass="org.apache.catalina.core.StandardHostMapper" name="meettheexperts.worthsolution.co.uk" unpackWARs="true">


    <Alias>www.meettheexperts.co.uk</Alias>
    <Alias>meettheexperts.co.uk</Alias>

    <Alias>www.meet-the-experts.co.uk</Alias>
    <Alias>meet-the-experts.co.uk</Alias>

      <Context crossContext="true" debug="0" docBase="/opt/tomcat/server/webapps/meettheexperts" path="" reloadable="false" >


          <Resource auth="Container" name="jdbc/meettheexperts" type="javax.sql.DataSource"/>
          <ResourceParams name="jdbc/meettheexperts">

            <parameter>
              <name>username</name>
              <value>admin</value>
            </parameter>

            <parameter>
              <name>password</name>
              <value>rqQ952qM</value>
            </parameter>

            <parameter>
              <name>url</name>
              <value>jdbc:mysql://localhost/meettheexperts</value>
            </parameter>

            <parameter>
              <name>maxActive</name>
              <value>4</value>
            </parameter>

            <parameter>
              <name>maxWait</name>
              <value>5000</value>
            </parameter>

            <parameter>
              <name>driverClassName</name>
              <value>com.mysql.jdbc.Driver</value>
            </parameter>

            <parameter>
              <name>maxIdle</name>
              <value>2</value>
            </parameter>
          </ResourceParams>
        </Context>

        <Logger className="org.apache.catalina.logger.FileLogger" debug="0" directory="logs" prefix="localhost_meettheexperts_log." suffix=".txt" timestamp="true" verbosity="1"/>
      </Host>

      <Host className="org.apache.catalina.core.StandardHost" appBase="webapps" autoDeploy="false" configClass="org.apache.catalina.startup.ContextConfig" contextClass="org.apache.catalina.core.StandardContext" debug="0" deployXML="true" errorReportValveClass="org.apache.catalina.valves.ErrorReportValve" liveDeploy="true" mapperClass="org.apache.catalina.core.StandardHostMapper" name="cts.worthsolution.co.uk" unpackWARs="true">


      <Context crossContext="true" debug="0" docBase="/opt/tomcat/server/webapps/cts" path="" reloadable="false" >

          <Parameter name="smtp.host"               value="smtp.worthsolution.co.uk"          override="false" />
          <Parameter name="contact.mail.from"       value="contact@creatingit.com"            override="false" />
          <Parameter name="contact.mail.to"         value="peter@creatingit.com"              override="false" />
          <Parameter name="contact.mail.subject"    value="Contact on creatingit.com site"    override="false" />

          <Resource auth="Container" name="jdbc/cts" type="javax.sql.DataSource"/>
          <ResourceParams name="jdbc/cts">
            <parameter>
              <name>username</name>
              <value>admin</value>
            </parameter>
            <parameter>
              <name>password</name>
              <value>rqQ952qM</value>
            </parameter>
            <parameter>
              <name>url</name>
              <value>jdbc:mysql://localhost/cts</value>
            </parameter>
            <parameter>
              <name>maxActive</name>
              <value>4</value>
            </parameter>
            <parameter>
              <name>maxWait</name>
              <value>5000</value>
            </parameter>
            <parameter>
              <name>driverClassName</name>
              <value>com.mysql.jdbc.Driver</value>
            </parameter>
            <parameter>
              <name>maxIdle</name>
              <value>2</value>
            </parameter>
          </ResourceParams>
        </Context>


        <Logger className="org.apache.catalina.logger.FileLogger" debug="0" directory="logs" prefix="localhost_cts_log." suffix=".txt" timestamp="true" verbosity="1"/>
      </Host>

      <Host className="org.apache.catalina.core.StandardHost" appBase="webapps" autoDeploy="false" configClass="org.apache.catalina.startup.ContextConfig" contextClass="org.apache.catalina.core.StandardContext" debug="0" deployXML="true" errorReportValveClass="org.apache.catalina.valves.ErrorReportValve" liveDeploy="true" mapperClass="org.apache.catalina.core.StandardHostMapper" name="patientview.worthsolution.co.uk" unpackWARs="true">


      <Context crossContext="true" debug="0" docBase="/opt/tomcat/server/webapps/patientview" path="" reloadable="false" >

      </Context>

        <Logger className="org.apache.catalina.logger.FileLogger" debug="0" directory="logs" prefix="localhost_patientview_log." suffix=".txt" timestamp="true" verbosity="1"/>
      </Host>

      <Logger className="org.apache.catalina.logger.FileLogger" debug="0" directory="logs" prefix="catalina_log." suffix=".txt" timestamp="true" verbosity="1"/>
     <Realm className="org.apache.catalina.realm.UserDatabaseRealm" debug="0" resourceName="UserDatabase" validate="true"/>

      </Engine>
  </Service>
</Server>
